NEXTJS_ENV=development

# Cloudflare Configuration
CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id
CLOUDFLARE_D1_TOKEN=your_cloudflare_d1_token
CLOUDFLARE_R2_URL=https://your-bucket.r2.dev
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token
CLOUDFLARE_D1_DATABASE_ID=your_d1_database_id

# Authentication
BETTER_AUTH_SECRET=your_random_base64_secret_key
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app - should use the deployed URL in Workers for prod

# Google OAuth : see https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# AI Services
FAL_KEY=your_fal_api_key
OPENAI_API_KEY=your_openai_api_key
